body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: lightblue;
    color: white; 
  }
  
h1{
    font-family: verdana, arial, sans-serif;
    display: flex;
    justify-content: center;
    color:#28a745;
}

p{
  display: flex;
  justify-content: center;
}

#scoreDisplay {
  position: absolute;
  bottom: 90px; /* Distance from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

#highScoreDisplay {
  position: absolute;
  bottom: 60px; /* Distance from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

#stopBtn {
  background-color: rgb(204, 99, 99);  /* Change background color */
  color: black;  /* Change text color */
  font-size: 16px;  /* Adjust font size */
  padding: 10px 15px;  /* Adjust padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 595px;
}

#startBtn {
  background-color: rgb(254, 217, 217);  /* Change background color */
  color: black;  /* Change text color */
  font-size: 16px;  /* Adjust font size */
  padding: 10px 15px;  /* Adjust padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 600px;
}

#backToHome {
  background-color: rgb(255, 255, 194);  /* Change background color */
  color: black;  /* Change text color */
  font-size: 16px;  /* Adjust font size */
  padding: 10px 15px;  /* Adjust padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button{
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#gameButtonArea {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  justify-content: center;
  padding: 20px;
}
#gameButtonArea > button {
  /* declarations defined here will affect only our four Game Buttons */
  height: 200px;
  width: 200px;
  margin: 2px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 800;
  font-size: xx-large;
}
.hidden {
  display: none;
}

#startTheGame {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#startScreen {
  position: relative;
  align-items: center; /* Centers vertically */
  height: 100vh; /* Makes the div take full height of the viewport */
  text-align: center; /* Centers text inside the div */
}

#button1{
background: lightgreen;

}
#button2{
background: rgb(112, 199, 228);
}
#button3{
background: pink;
}
#button4{
background: rgb(255, 206, 150);
}
#button1:active, #button1.lit {
  background:green;
}
#button2:active, #button2.lit {
  background:blue;
}
#button3:active, #button3.lit{
  background:red;
}
#button4:active, #button4.lit{
  background:orange;
}
#button5{
  background: lightpink;
}
#button6{
  background: lightsalmon;
}
#button7{
  background: lightseagreen;
}
#button8{
  background: plum;
}
#button5:active, #button5.lit {
  background: deeppink;
}
#button6:active, #button6.lit {
  background: coral;
}
#button7:active, #button7.lit {
  background: seagreen;
}
#button8:active, #button8.lit {
  background: purple;
}
